{% extends 'feed/base.html' %}
{%block content%}

<div class="container">
    <h3 class="white-important">
        Create a Tweet
    </h3>
    <form method="POST" class="col-12 col-md-6 no-padding pr-3 pr-md-0">
        {%csrf_token%}
        <fieldset class="form-group">
            <legend>Write here</legend>
            {{form}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Tweet</button>
        </div>
    </form>
</div>

<footer style="  position: fixed; left: 50%; bottom: 0; width: 100%;">
    <p> © 2023 Twitter, Inc.</p>
</footer>
{% endblock %}


